<div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="row">
                    <!-- Modal view slider -->
                    <div class="col-md-6 col-sm-6 col-xs-12" style="height: 400px;">
                        <div class="aa-product-view-slider">
                            <div class="simpleLens-gallery-container" id="demo-1">
                            <div class="simpleLens-container">
                            <div class="simpleLens-big-image-container">
                                <a id="simpleLens-lens-image-quick-view" class="simpleLens-lens-image" data-lens-image="">
                                    <img id="simpleLens-lens-image-big-quick-view" src="" class="simpleLens-big-image">
                                </a>
                            </div>
                        </div>
                        <!-- <div class="simpleLens-thumbnails-container">
                            <a href="#" class="simpleLens-thumbnail-wrapper"
                                data-lens-image="img/view-slider/large/polo-shirt-1.png"
                                data-big-image="img/view-slider/medium/polo-shirt-1.png">
                                <img src="img/view-slider/thumbnail/polo-shirt-1.png">
                                </a>
                                <a href="#" class="simpleLens-thumbnail-wrapper"
                                data-lens-image="img/view-slider/large/polo-shirt-3.png"
                                data-big-image="img/view-slider/medium/polo-shirt-3.png">
                                <img src="img/view-slider/thumbnail/polo-shirt-3.png">
                                </a>

                                <a href="#" class="simpleLens-thumbnail-wrapper"
                                data-lens-image="img/view-slider/large/polo-shirt-4.png"
                                data-big-image="img/view-slider/medium/polo-shirt-4.png">
                                <img src="img/view-slider/thumbnail/polo-shirt-4.png">
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- Modal view content -->
            <div class="col-md-6 col-sm-6 col-xs-12" style="height: 400px;">
                <div class="aa-product-view-content">
                    <h3 id="quick-view-product-name"></h3>
                    <div class="aa-price-block hidden">
                        <span class="aa-product-view-price">$34.99</span>
                        <p class="aa-product-avilability">Avilability: <span>In stock</span></p>
                    </div>
                    <p id="quick-view-product-desc"></p>

                    <div class="aa-prod-view-bottom">
                        <a id="quick-view-product-enquiry-now" href="#" class="aa-add-to-cart-btn">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i> &nbsp;
                            Enquiry Now
                        </a>
                        <a id="quick-view-product-page" href="#" class="aa-add-to-cart-btn">
                            <i class="fa fa-info-circle" aria-hidden="true"></i> &nbsp;
                            View Details
                        </a>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>